.card{
    background-color: aqua;
    border-color: black;
}

.card-body{
    background-color: grey;
    border-color: black;
}

.timer{
    right: 20%;
}

.trivia{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#card-footer{
    background-color: khaki;
}

.form-check{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn{
    background-color: lightsalmon;
    border-color: black;
}

.footer-text{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto; 
}