.card{
    background-color: aqua;
    border-color: black;
}

.card-body{
    background-color: grey;
    border-color: black;
}

.timer{
    right: 20%;
}

.trivia{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#card-footer{
    background-color: khaki;
}

#next{
    text-align: center;
    padding: 20px;
    margin: 20px;
    left: 50%;
    background-color: lightsalmon;
    border-color: lightslategrey;
}

.form-check{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}