.card-title{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.card-text{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-left: auto;
    margin-right: auto;
}

.start-button{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.card-img-top{
    display: block;
    margin-left: auto;
    margin-right: auto;

}